@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
</head>
<body>
    <header>
        @* based on default navbar that comes with MVC template *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            @* go to action method that clears route segments and then loads home page *@
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Clear">Home</a>
                        </li>
                        @if (signInManager.IsSignedIn(User)) // if user loged in then show sales.
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Sales" asp-action="Add">Add Sales</a>
                            </li>

                            @if (User.IsInRole("Admin")) // if user was admin add other features in the left side.
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Employee" asp-action="Add">Add Employee</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User)) // if user loged in then show sales in the rigth side.
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="Logout" asp-controller="Account" asp-area="">
                                    <span class="text-dark">Welcome, @User.Identity.Name!</span>&nbsp;
                                    <input type="submit" value="Log Out" class="btn" />
                                </form>
                            </li>
                            @if (User.IsInRole("Admin")) // if user was admin add other features in the rigth side.
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="User" asp-area="Admin">Manage Users</a>
                                </li>
                            }
                        }
                        else
                        {
                            // get current action
                            var action = ViewContext.RouteData.Values["action"]?.ToString(); // anonymous user
                            <li class="nav-item @Nav.Active("Register", action)">
                                <a asp-action="Register" asp-controller="Account"
                                   asp-area="" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account"
                                   asp-area="" class=" nav-link btn btn-outline-light">Log In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.Keys.Contains("message"))
            {
                <h2 class="bg-light text-center p-2 mb-2">@TempData["message"]</h2>
            }
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>